:root {
    --primary: #18191F;
    --greenColor: #4CAF4F;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter_18pt-SemiBold.ttf");
}


.blackColor {
    color: var(--primary) !important;
}

.textgreen {
    color: var(--greenColor);
}

.textgreen:hover {
    color: var(--greenColor);
}

.bggreen {
    background-color: var(--greenColor);
}

.bggreen:hover {
    background-color: var(--greenColor);
}

.font {
    font-family: Inter;
}

.bg-hero {
    background-color: #F5F7FA;
}


.customGap {
    gap: 100px;
}

.customShadow {
    box-shadow: 0px 1.39px 2.78px 0px #ABBED133;

}

@media screen and (max-width:576px) {
    .size {
        width: 50%;
    }
}